:root {
    --lightlavender: rgb(242, 242, 250);
    --blush: rgb(248, 238, 239);
    --darkblush: rgb(179,127,137);
    --white: #ffffff;
    --black: #000000;
    --darkGray: rgb(128,128,128);
}

* {
    font-family: 'Mulish', sans-serif;
    color: var(--fontColor);
}
body {
    background: var(--bg);
}

#titleFont {
    font-family: 'WindSong', cursive;
    font-size: 70px;
}

ul {
    font-family: 'Zen Antique Soft', serif;
}

li {
    list-style: circle;
}
  
.list {
    list-style: square;
}

.light-theme {
    --fontColor: var(--black);
    --bg: var(--blush);
}

.dark-theme {
    --fontColor: var(--blush);
    --bg: var(--black);
}

#myHeader {
    position:fixed;
    top: 0px;
    width: 100%;
    padding: 40px;
    height: 215px;
    text-align: center;
}

#body-scroll {
    margin-top: 100px;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: center;
    color: var(--darkGray);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--darkblush);
    color: black;
}
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--darkblush);
    color: white;
}

.pFormat {
    position: relative;
    top: 300px;
    left: 0;
    background-color: rgb(211, 211, 211, 0.5);
}

.bottomScreen {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2.5rem;
}